<mat-card class="convertor-card">
  <mat-card-header>
    <mat-card-title>Currency Convertor</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content align="center">
    <form [formGroup]="convertorForm">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <mat-form-field>
          <mat-label>Convert from</mat-label>
          <input
            type="text"
            matInput
            formControlName="sourceCurrency"
            id="cc-source-currency"
            maxlength="3"
            [matAutocomplete]="sourceCurrencyAuto"
            oninput="this.value = this.value.toUpperCase()"
          />
          <mat-autocomplete autoActiveFirstOption #sourceCurrencyAuto="matAutocomplete">
            <mat-option *ngFor="let currency of filteredSourceCurrencies | async" [value]="currency.currencySymbol">{{
              currency.currencySymbol
            }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-card-actions align="center">
          <button mat-button color="primary" id="cc-switch-currency" (click)="switchCurrencies()">
            <span class="material-icons">
              swap_vert
            </span>
          </button>
        </mat-card-actions>
      </div>
      <div>
        <mat-form-field>
          <mat-label>To</mat-label>
          <input
            type="text"
            matInput
            formControlName="targetCurrency"
            maxlength="3"
            id="cc-target-currency"
            [matAutocomplete]="targetCurrencyAuto"
            oninput="this.value = this.value.toUpperCase()"
          />
          <mat-autocomplete autoActiveFirstOption #targetCurrencyAuto="matAutocomplete">
            <mat-option *ngFor="let currency of filteredTargetCurrencies | async" [value]="currency.currencySymbol">{{
              currency.currencySymbol
            }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <mat-form-field>
          <mat-label>Amount to convert</mat-label>
          <input
            matInput
            type="text"
            name="Source Amount"
            id="cc-source-amount"
            maxlength="21"
            formControlName="sourceAmount"
            (keyup)="updateSourceAmount($event.target.value)"
            (blur)="convertToFloat($event.target)"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <div *ngIf="this.convertorForm.invalid">
          <small>
            <mat-error *ngIf="this.convertorForm.get('sourceCurrency').invalid">
              <mat-error *ngIf="this.convertorForm.get('sourceCurrency').errors['required']">
                <li>Please enter 'from' currency</li>
              </mat-error>
              <mat-error *ngIf="this.convertorForm.get('sourceCurrency').errors['pattern']">
                <li>'From' currency must be 3 characters</li>
              </mat-error>
            </mat-error>
            <mat-error *ngIf="this.convertorForm.get('targetCurrency').invalid">
              <mat-error *ngIf="this.convertorForm.get('targetCurrency').errors['required']">
                <li>Please enter 'To' currency</li>
              </mat-error>
              <mat-error *ngIf="this.convertorForm.get('targetCurrency').errors['pattern']">
                <li>'To' currency must be 3 characters</li>
              </mat-error>
            </mat-error>
            <mat-error *ngIf="this.convertorForm.get('sourceAmount').invalid">
              <mat-error *ngIf="this.convertorForm.get('sourceAmount').errors['required']">
                <li>Please enter 'Amount to convert'</li>
              </mat-error>
              <mat-error *ngIf="this.convertorForm.get('sourceAmount').errors['pattern']">
                <li>Amount must be numeric</li>
                <li>Amount must have no commas.</li>
                <li>Amount must be less than 1 billion</li>
                <li>Amount must not have 10 or more trailing decimals</li>
              </mat-error>
            </mat-error>
          </small>
        </div>
      </div>

      <mat-error *ngIf="backendError">
        <app-currency-card-error [error]="backendError"></app-currency-card-error>
      </mat-error>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
        <mat-card-actions align="center">
          <button
            mat-raised-button
            color="primary"
            id="convertCurrency"
            type="submit"
            (click)="convertCurrency()"
            [disabled]="this.shouldDisableConvertButton()"
          >
            Convert
          </button>
        </mat-card-actions>
      </div>
    </form>
    <!-- <div *ngIf="conversionResult"> -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
      <mat-card-footer align="center">
        <app-currency-conversion-result></app-currency-conversion-result>
      </mat-card-footer>
    </div>
    <!-- </div> -->
  </mat-card-content>
</mat-card>
