<div class="card">
  <div class="card-body">
    <h4 class="card-title">Currency Convertor</h4>
    <form [formGroup]="convertorForm">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name="Source Amount"
            id="cc-source-amount"
            formControlName="sourceAmount"
            (keyup)="updateSourceAmount($event.target.value)"
          />
        </div>
        <div class="form-group col-sm-6">
          <label for="Source Currency"></label>
          <select
            class="form-control"
            name="Source Currency"
            id="cc-source-currency"
            formControlName="sourceCurrency"
            (click)="updateCurrency()"
          >
            <option
              *ngFor="let currency of supportedCurrencies"
              [ngValue]="currency"
              >{{ currency.currencySymbol }}</option
            ><option> </option
          ></select>
        </div>
      </div>
      <div *ngIf="this.convertorForm.get('sourceAmount').invalid">
        <div class="form-row">
          <div class="col-sm-12">
            <div class="form-group alert alert-danger" role="alert">
              <div
                *ngIf="
                  this.convertorForm.get('sourceAmount').errors['required']
                "
              >
                <small class="form-text text-muted">Amount is mandatory</small>
              </div>
              <div
                *ngIf="this.convertorForm.get('sourceAmount').errors['pattern']"
              >
                <small class="form-text text-muted"
                  >Amount can have 0-10 decimals and 1-9 digits <br />
                  (e.g. 1 or 0.1 or .11, etc.)</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name="Target Amount"
            id="cc-target-amount"
            aria-describedby="helpId"
            formControlName="targetAmount"
            (keyup)="updateTargetAmount($event.target.value)"
          />
        </div>
        <div class="form-group col-sm-6">
          <label for="Target Currency"></label>
          <select
            class="form-control"
            name="Target Currency"
            id="cc-target-currency"
            formControlName="targetCurrency"
            (click)="updateCurrency()"
          >
            <option
              *ngFor="let currency of supportedCurrencies"
              [ngValue]="currency"
              >{{ currency.currencySymbol }}</option
            >
          </select>
        </div>
      </div>
      <div *ngIf="this.convertorForm.get('targetAmount').invalid">
        <div class="form-row">
          <div class="col-sm-12">
            <div class="form-group alert alert-danger" role="alert">
              <div
                *ngIf="this.convertorForm.get('targetAmount').errors['pattern']"
              >
                <small class="form-text text-muted"
                  >Amount can have 0-10 decimals and 1-9 digits <br />
                  (e.g. 1 or 0.1 or .11, etc.)</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <button
            type="submit"
            class="form-control btn btn-primary"
            (click)="convertCurrency()"
            [disabled]="disableConvertButton || !convertorForm.valid"
          >
            {{ this.getConvertButtonText() }}
          </button>
        </div>
      </div>
      <div *ngIf="conversionResult && !convertorForm.invalid">
        <app-currency-conversion-result
          [convertedCurrency]="conversionResult"
        ></app-currency-conversion-result>
      </div>
      <div *ngIf="backendError">
        <app-currency-card-error
          [error]="backendError"
        ></app-currency-card-error>
      </div>
    </form>
  </div>
</div>
