.convertor-card {
  display: grid;
  max-width: 230px;
  margin: auto;
  align-items: center;
  align-content: center;
}

.mat-form-field {
  padding: 10px;
  text-align: center;
}
.mat-card-title {
  padding: 10px;
}
.card-errors {
  margin-bottom: 30px;
}
