.convertor-card {
  display: grid;
  max-width: 210px;
  text-align: center;
  margin: auto;
}
.mat-card-content {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 10px;
}
.mat-option {
  max-height: 25px;
}
.mat-form-field {
  text-align: center;
}
.customAutoComplete {
  max-height: 100px;
}
.mat-card-actions {
  display: flex;
  justify-content: center;
}
.card-errors {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-card-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
