<mat-card class="convertor-card">
  <mat-card-header class="currency-card-header">
    <mat-card-title class="mat-headline" style="text-align: center;">Currency Convertor</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="card-container">
    <mat-card-content>
      <form [formGroup]="convertorForm">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Convert from</mat-label>
            <input
              type="text"
              matInput
              formControlName="sourceCurrency"
              id="cc-source-currency"
              maxlength="3"
              [matAutocomplete]="sourceCurrencyAuto"
            />
            <mat-autocomplete autoActiveFirstOption #sourceCurrencyAuto="matAutocomplete">
              <mat-option *ngFor="let currency of filteredSourceCurrencies | async" [value]="currency.currencySymbol">{{
                currency.currencySymbol
              }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-card-actions align="center">
            <button mat-button color="primary" id="cc-switch-currency" (click)="switchCurrencies()">
              <span class="material-icons">
                swap_vert
              </span>
            </button>
          </mat-card-actions>
        </div>
        <div>
          <mat-form-field>
            <mat-label>To</mat-label>
            <input
              type="text"
              matInput
              formControlName="targetCurrency"
              id="cc-target-currency"
              [matAutocomplete]="targetCurrencyAuto"
            />
            <mat-autocomplete autoActiveFirstOption #targetCurrencyAuto="matAutocomplete">
              <mat-option *ngFor="let currency of filteredTargetCurrencies | async" [value]="currency.currencySymbol">{{
                currency.currencySymbol
              }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Amount to convert</mat-label>
            <input
              matInput
              type="text"
              name="Source Amount"
              id="cc-source-amount"
              maxlength="21"
              formControlName="sourceAmount"
              (keyup)="updateSourceAmount($event.target.value)"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div *ngIf="this.convertorForm.invalid">
            <small>
              <mat-error *ngIf="this.convertorForm.get('sourceCurrency').invalid">
                <mat-error *ngIf="this.convertorForm.get('sourceCurrency').errors['required']">
                  <li>Please select a 'from' currency</li>
                </mat-error>
                <mat-error *ngIf="this.convertorForm.get('sourceCurrency').errors['pattern']">
                  <li>'From' Currency should be exactly 3 characters</li>
                </mat-error>
              </mat-error>
              <mat-error *ngIf="this.convertorForm.get('targetCurrency').invalid">
                <mat-error *ngIf="this.convertorForm.get('targetCurrency').errors['required']">
                  <li>Please select a 'To' currency</li>
                </mat-error>
                <mat-error *ngIf="this.convertorForm.get('targetCurrency').errors['pattern']">
                  <li>'To' Currency should be exactly 3 characters</li>
                </mat-error>
              </mat-error>
              <mat-error *ngIf="this.convertorForm.get('sourceAmount').invalid">
                <mat-error *ngIf="this.convertorForm.get('sourceAmount').errors['required']">
                  <li>Please enter a valid 'Amount to convert'</li>
                </mat-error>
                <mat-error *ngIf="this.convertorForm.get('sourceAmount').errors['pattern']">
                  <li>Amount must be a number less than 1 billion with no commas.</li>
                  <li>Amount not contain more than 10 trailing decimals</li>
                </mat-error>
              </mat-error>
            </small>
          </div>
        </div>

        <mat-error *ngIf="backendError">
          <app-currency-card-error [error]="backendError"></app-currency-card-error>
        </mat-error>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
          <mat-card-actions align="center">
            <button
              id="convertCurrency"
              mat-raised-button
              color="primary"
              type="submit"
              (click)="convertCurrency()"
              [disabled]="disableConvertButton || !convertorForm.valid"
            >
              {{ this.getConvertButtonText() }}
            </button>
          </mat-card-actions>
        </div>
      </form>
      <!-- <div *ngIf="conversionResult"> -->
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-card-footer align="center">
          <app-currency-conversion-result></app-currency-conversion-result>
        </mat-card-footer>
      </div>
      <!-- </div> -->
    </mat-card-content>
  </div>
</mat-card>
