@import '../../../../src/currency-utility-theme.scss';
.convertor-alert-success {
  background-color: $primary;
  color: $alert-text;
}
.result-container {
  padding: 10px;
}
.mat-divider {
  margin-bottom: 5px;
}
