<mat-card class="card-page">
  <mat-card-header>
    <mat-card-title>Currency Utilities</mat-card-title>
    <mat-card-subtitle>
      This website is being designed for all your currency conversion needs.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="about-content">
    <mat-list>
      <mat-list-item>Current features are:</mat-list-item>
      <mat-list-item>
        <li>Currency Convertor</li>
      </mat-list-item>
      <mat-list-item>
        <li>Historical Rates <small>(Under Construction)</small></li>
      </mat-list-item>
      <mat-list-item>
        <li>Rate Alerts <small>(Under Construction)</small></li>
      </mat-list-item>
    </mat-list>
    <mat-card-footer align="right">
      <div class="about-copyright" style="padding: 10px;">
        <small><b>&#x00A9; Nishant Chauhan, 2020.</b></small>
      </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
