/* You can add global styles to this file, and also import other style files */
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.card-page {
  text-align: center !important;
  margin: 4em !important;
}
