<h2 class="text-center x-bg-text">Choose One</h2>
<div class="card bg-dark">
  <div class="row">
    <div class="col-sm-4 btn-info" routerLink="/currency-convertor">
      <div class="card-body">
        <h4 class="card-title">Currency Convertor</h4>
        <p class="card-text">Convert amount between currencies</p>
      </div>
    </div>
    <div class="col-sm-4 btn-success" routerLink="/historical-rates">
      <div class="card-body">
        <h4 class="card-title">Historical Rates</h4>
        <p class="card-text">Find historical exchange rate for a currency</p>
      </div>
    </div>
    <div class="col-sm-4 btn-warning" routerLink="/rate-alerts">
      <div class="card-body">
        <h4 class="card-title">Rate Alerts</h4>
        <p class="card-text">
          Notifies you when a certain exchange rate is reached
        </p>
      </div>
    </div>
  </div>
</div>
